<body>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100 login-container">
        <div class="col-md-12 col-lg-6 col-xl-6">
          <img src="https://i.pinimg.com/564x/77/62/92/7762926cb6485bc1c96f75287c2eadc6.jpg"
            class="img-fluid" alt="Phone image">
        </div>

          

        <div class="col-md-12 col-lg-6 col-xl-5">
          <h2 class="form-outline mb-4" id="loginh">Log in to your account</h2>
            <form class="login-form">

              <div class="form-outline mb-4">
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="vide">
                  <i class="fas fa-exclamation-circle"></i>
                  Please fill in all the required fields. </div>
                  
      
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="err">
                  <i class="fas fa-check-circle"></i>  Incorrect email address or password     </div> 
 
                </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form1Example13" 
              class="form-control form-control-lg"   
              name="email"
              [(ngModel)]="user.email"
             />
              <label class="form-label" for="form1Example13"             
              >Email address</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4 d-flex align-items-center">
              <input type="{{ hidePassword ? 'password' : 'text' }}" id="form1Example23" 
              class="form-control form-control-lg " 
              name="password"
                [(ngModel)]="user.password"
              />
              <label class="form-label" for="form1Example23">Password</label>
              <div class="input-group-append">
                <span class="input-group-text toggle-password" (click)="togglePassword()">
                  <i class="fa" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
              </div>
            </div>
            
  
            <div class="d-flex justify-content-around align-items-center mb-4">
              <a class="forgot-password-link" routerLink="/reset-password">Forgot password?</a>
          </div>
          
            <button type="submit" class="btn btn-dark btn-lg btn-block" (click)="onLoggedin()">Sign in</button>

  
          </form>
        </div>
      </div>
    </div>
  </section>

</body>
  
