<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
          src="../../../assets/images/lorenzo.jpg"
            height="30%"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home" >Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop">Shop</a>
          </li>

          <li class="nav-item">
  <a class="nav-link" style="color:#eca841;" routerLink="/promotion">PROMOTION UP TO 50% OFF</a>
</li>

        </ul>
        <!-- Left links -->
      </div>


              <!-- Left links -->

      <nav class="navbar-nav content">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
              

              <li class="nav-item d-flex" *ngIf="authService.isloggedIn">
                <div class="search-bar-container">
                  <input
                    type="text"
                    class="search-input"
                    placeholder="Search"
                  />
                  <button class="search-button">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </li>


                        <!-- header.component.html -->
                        <li class="nav-item d-flex" *ngIf="authService.isloggedIn">
                          <a class="nav-link" routerLink="/basket">
                            <div class="cart-icon">
                              <i class="fas fa-shopping-bag"></i> <!-- Shop icon -->
                              <span class="badge badge-pill badge-danger">{{ cartItemCount }}</span>
                              <!-- Display cart item count here -->
                            </div>
                          </a>
                        </li>
                        


             <li class="nav-item d-flex align-items-center">
                  <img routerLink="/profile" *ngIf="authService.isloggedIn" [src]="getUserImageUrl()" alt="User Image" class="user-image">
              </li>
          </ul>
          

            <div class="d-flex align-items-center">
              <button type="submit" class="btn btn-outline-dark me-2"  *ngIf="!authService.isloggedIn" routerLink="/login">Sign In</button> 
              <button type="submit" class="btn btn-dark"  *ngIf="!authService.isloggedIn" routerLink="/inscrit">Sign Up for Free</button> 
             </div>
          </div>
        </div>
      </nav>
      


