<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
     
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
  <!-- Section: Links -->
<section class="mt-5">
  <!-- Grid row -->
  <div class="row">
      <!-- Existing columns for links -->
      <!-- ... (Previous columns) -->

      <!-- New column for sponsor images -->
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Our Marks</h5>
        <div class="d-flex flex-wrap justify-content-center">
            <img src="https://i.pinimg.com/564x/b2/b6/e9/b2b6e9c64ce0b5cb321bc88f920047c8.jpg" alt="Sponsor 1" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/62/1a/82/621a82100210d07b346107e0e738e828.jpg" alt="Sponsor 2" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/62/76/32/6276327ee9ee965cfe426561a9b14ff7.jpg" alt="Sponsor 3" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/70/b1/11/70b111016d236de37bad32ae478bead4.jpg" alt="Sponsor 4" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/e8/eb/6e/e8eb6e4c70e01899c19d62991f64f870.jpg" alt="Sponsor 5" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/89/fe/80/89fe8053b55fa135cb5155c9444ce4ba.jpg" alt="Sponsor 6" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/92/1e/94/921e947f8d3ec8b7a32fd1cdc6d1fd90.jpg" alt="Sponsor 7" class="img-fluid sponsor-img mb-3">
            
            <img src="https://i.pinimg.com/564x/83/c1/b8/83c1b856ad06e6fce327beb08ee5cd7d.jpg" alt="Sponsor 8" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/f5/c2/54/f5c254b739d7b83a07f9859550e1c9d4.jpg" alt="Sponsor 9" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/e7/4f/d5/e74fd55166d8f5710b66c5a61c5d0b5e.jpg" alt="Sponsor 9" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/2f/76/53/2f765370070c519ed39db9fa50fe63ce.jpg" alt="Sponsor 9" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/4f/24/a3/4f24a3836eadbe2387b198f807ff95bc.jpg" alt="Sponsor 9" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/a4/e2/46/a4e2468b12cd5901cd99e3535de1d1fc.jpg" alt="Sponsor 9" class="img-fluid sponsor-img mb-3">
            <img src="https://i.pinimg.com/564x/fc/a8/82/fca882523e0700742a9a2821f14b4f75.jpg" alt="Sponsor 9" class="img-fluid sponsor-img mb-3">

            <!-- Add more <img> tags for additional sponsors -->
        </div>
    </div>
    
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase">Can we help you?</h5>
  
      <ul class="list-unstyled mb-0">
          <li>
              <i class="fas fa-shopping-cart mr-2"></i>
              <p class="text-muted">Start chat 
                  <span  style="color:#946e34;"> Out of service<br>
                    <span class="text-muted"> From Mondays to Fridays from 10:00am to 7:59pm.</span></span></p>
          </li>


          <li>
            <i class="fas fa-phone -cart mr-2"></i>
            <p class="text-muted">Start chat 
                <span  style="color:#946e34;"> Out of service<br>
                  <span class="text-muted">From Mondays to Fridays from 10:00am to 8:00pm.</span></span></p>
        </li>
         
        <li>
          <i class="fas fa-envelope -cart mr-2"></i>
          <p class="text-muted">Start chat 
              <span  style="color:#946e34;"> Send Email<br>
                <span class="text-muted">We'll reply asap.</span></span></p>
      </li>
      </ul>
  </div>
  
    <!--Grid column-->

     <!--Grid column-->
     <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase">We are LORENZO</h5>

      <ul class="list-unstyled mb-0">
        <li>
          <p class="text-white">Jackets</p>
        </li>
        <li>
          <p class="text-white">Skirts</p>
        </li>
        <li>
          <p  class="text-white">Pants</p>
        </li>
        <li>
          <p class="text-white">T-shirt</p>
        </li>
        <li>
          <p class="text-white">Shorts</p>
        </li>
        <li>
          <p class="text-white">Outerwear</p>
        </li>
        <li>
          <p class="text-white">Swimwear</p>
        </li>
      </ul>
    </div>
    <!--Grid column-->
      <!-- New column for sponsor images -->
      
  </div>
  <!-- Grid row -->
</section>


      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Reserved</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->