<div  class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
              class="fas fa-user-secret me-2"></i>Admin</div>
      <div class="list-group list-group-flush my-3">
          <a routerLink="/addproduct" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                  class="fas fa-tachometer-alt me-2"></i>Add Product</a>
       
          <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-chart-line me-2"></i>Liste Product</a>
      
          
                  <a routerLink="/commandePage" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-gift me-2"></i>commande list</a>

          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-comment-dots me-2"></i>Chat</a>
          
          <a href="/login" (click)="onLogout()" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                  class="fas fa-power-off me-2"></i>Logout</a>
      </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
          <div class="d-flex align-items-center">
              <i class="fas fa-align-left primary-text fs-4 me-3"  id="menu-toggle"></i>
              <h2 class="fs-2 m-0">Dashboard</h2>
          </div>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                     
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Profile</a></li>
                          <li><a class="dropdown-item" href="#">Settings</a></li>
                          <li><a class="dropdown-item" href="#">Logout</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </nav>

      <div class="container-fluid px-1">
          
          
          <section class="text-center">
    <!-- Background image -->
    <div class="p-2 bg-image" style="
          height: 150px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -150px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Add Product</h2>
            <form (ngSubmit)="onSubmit()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1">Product name</label>

                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" required>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2">Product price</label>

                    <input type="text" class="form-control" id="prix" name="prix" [(ngModel)]="product.prix" required>
                  </div>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example2">Product description</label>

                <input type="text" class="form-control" id="description" name="description" [(ngModel)]="product.description" required>
              </div>
  
              <!-- categorie input -->
              <div class="form-outline mb-4">

              <label class="form-label" for="categorie">Product category</label>

              <select class="form-control custom-select" id="categorie" name="categorie" [(ngModel)]="product.categorie" required>
                <option value="tshirt">T-Shirt</option>
                <option value="jeans">Jeans</option>
                <option value="chemise">Chemise</option>
                <option value="shoes">Shoes</option>
                <option value="POLO">POLO</option>

               
                </select>
               
            </div>


            <div class="form-outline mb-4">
               <label class="form-label" for="categorie">Product Promotion</label>

            <select class="form-control custom-select" id="promotion" name="promotion" [(ngModel)]="product.promotion" required>
              <option value="true">PROMOTION</option>
              <option value="false">NO PROMOTION</option>
           
            </select>
               
             </div>



              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example2">Product Image</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" (change)="onFileChange($event)" required>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-dark">
                confirm add   
            </button><br>

            
          
  
                <div class="alert alert-success alert-dismissible fade show" *ngIf="successMessage">
                    <i class="fas fa-check-circle"></i>{{ successMessage }}
                </div>
                    
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="errorMessage">
                    <i class="fas fa-check-circle"></i> {{ errorMessage }}             
                </div>
                   
                   


            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->