<div class="row mx-10 no-gutters">
  <div class="home-content" *ngIf="product">
    <img class="home-image" [src]="getProductImageUrl(product.image)" alt="" />
    <div class="home-details">
      <h1 class="home-title">{{ product.name }}</h1>
      <h4 style="color: rgb(146, 146, 146); margin-top: -12px">
        Ref: {{ product._id }}
      </h4>

      <h4
      style="
        color:#000000;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
          text-decoration: line-through;
        text-decoration-style: dashed;
      "
      *ngIf="product.promotion == true"      >
      {{ product.prix }}
    </h4>

    <h3
      style="
        color:#000000;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
          
      "
      *ngIf="product.promotion == false"      >
      {{ product.prix }}
    </h3>


      <h3
        style="
          color:#eca841;
          font-weight: bold;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        "
        *ngIf="product.promotion == true"      >
        {{ product.promoprix }}
      </h3>


      <h2 style="color: rgb(0, 0, 0)">{{ product.description }}</h2>
      <div class="home-button-container">
        <button
        class="home-button"
        (click)="addToCart(product)"
      >
        <i class="fas fa-shopping-cart mr-2" ></i> Add to Basket
      </button>

        <i class="far fa-heart ml-2"></i>
        <!-- Heart icon -->
      </div>
      <br />
      <div class="additional-details">
        <div class="detail-box">
          <i class="fas fa-shipping-fast"></i>
          <p>Payment will be upon delivery</p>
        </div>

        <div class="detail-box">
          <i class="fas fa-credit-card"></i>
          <p>Pay in 3 instalments of 100.00 DT To find out more</p>
        </div>
      </div>
      <div class="tips">
        <div class="tip">
          <p>Composition, care and traceability</p>
        </div>
        <div class="tip">
          <p>Deliveries and returns</p>
        </div>
        <div class="tip">
          <p>In-store availability</p>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container-fluid pt-2">
      <h2 id="Bestchoice">Recommended for you:</h2>
      <!-- Add the title -->
    </div>
  </section>

  <div class="container-fluid pt-5">
    <div class="row mx-10 no-gutters">
      <div
        class="col-12 col-md-3 mb-4"
        *ngFor="let product of allproducts.slice(0, 7)"
      >
        <div class="card h-100 product-card custom-card">
          <img
            [src]="getProductImageUrl(product.image)"
            alt="Product Image"
            class="product-image"
          />
          <div class="card-body">
            <h4 class="h6 mb-2 text-dark product-name">{{ product.name }}</h4>
            <div class="description-hover">
              <p class="mb-3 text-muted">{{ product.description }}</p>
              <h5 class="h5 mb-0 text-dark product-price font-weight-bold">
                {{ product.prix }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
