<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3 user-section" *ngIf="user">
        <!-- User Image -->
        <div class="content text-center">
          <div class="image-section">
            <span class="icon">
              <img [src]="getUserImageUrl()" alt="User Image" />
              <label for="image-input" class="file-input-label">
                <i
                  class="fas fa-image x2"
                  style="font-size: 24px; padding-right: 0.5rem"
                ></i
                >Edit Photo<br />
              </label>
              <div class="update-image-container">
                <form enctype="multipart/form-data">
                  <div class="file-input-wrapper">
                    <input
                      type="file"
                      id="image-input"
                      name="image"
                      style="display: none"
                    />
                  </div>
                </form>
              </div>
            </span>
          </div>
        </div>
        <!-- Logout Link -->
  

  <!-- Dashboard Link (for admin) -->
  <a class="dashboard-link" routerLink="/dashboard" type="submit" *ngIf="user.role === 'admin'">
    <i class="fas fa-chart-bar"></i> Dashboard
  </a>

  <a class="logout-link" href="/login" (click)="onLogout()" type="submit">
    <i class="fas fa-sign-out-alt"></i> Logout
  </a>
        
      </div>

      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <div class="tab-pane fade show active" id="settings" role="tabpanel">
          <div class="acccount-settings">
            <h2 class="mb-4">
              These details appear partially on your profile. 
            </h2>


            
            <div class="user-details">
              <h3 style="font-weight: bold;">PERSONAL INFORMATION</h3>
              <h4>
                At LORENZO we take your privacy very seriously and are committed to the protection of your personal data. Learn more about how we care for and use your data in our Privacy Policy.
              </h4>
      
              <h3 class="detail-item"><strong>YOUR EMAIL ADDRESS:</strong> {{ user.email }}</h3>
              <h3 class="detail-item"><strong>FIRST NAME:</strong> {{ user.name }}</h3>
              <h3 class="detail-item"><strong>LAST NAME:</strong> {{ user.lastname }}</h3>
              <h3 class="detail-item"><strong>PHONE NUMBER:</strong> {{ user.phone }}</h3>
            </div>

            <h2 class="mb-4 pt-5">
              You can access and modify your personal information
            </h2>


            <form>
              <div class="form-group mb-4">
                <label>Email</label>
                <input
                  [readonly]="true"
                  type="text"
                  class="form-control"
                  value="{{ user.email }}"
                  name="email"
                />
              </div>

              <div class="form-group mb-4">
                <label>First Name</label>
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  name="name"
                  placeholder="{{ this.user.name }}"
                  [(ngModel)]="this.name"
                />
              </div>

              <div class="form-group mb-4">
                <label>Last Name</label>
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  name="lastname"
                  placeholder="{{ user.lastname}}"
                  [(ngModel)]="this.lastname"
                />
              </div>

              <div class="form-group mb-4" >
                <label>Mobile</label>
                <input
                  autocomplete="off"
                  type="text"
                  class="form-control"
                  name="phone"
                  placeholder="{{ user.phone }}"
                  [(ngModel)]="phone"
                />
              </div>

              <button
              type="submit"
              class="btn btn-success"
              (click)="updateUserData()"
            >
              Save changes</button>

              
            </form>
            
            
            <form class="mt-2" (ngSubmit)="updatePassword()">
              <h2 class="mb-4 pt-5">Password Change</h2>
            
              <!-- Current Password -->
              <div class="form-group" [ngClass]="{ 'text-danger': errorMessagepw }">
                <label for="PasswordActuelle">Current Password</label>
                <div class="input-group">
                  <input
                    type="{{ hidePassword1 ? 'password' : 'text' }}"
                    [ngClass]="{ 'text-danger': errorMessagepw }"
                    autocomplete="off"
                    class="form-control"
                    name="PasswordActuelle"
                    [(ngModel)]="PasswordActuelle"
                    required
                  />
                  <div class="input-group-append">
                    <span class="input-group-text toggle-password" (click)="togglePassword1()" style="cursor: pointer">
                      <i class="fa" [ngClass]="hidePassword1 ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                  </div>
                </div>
              </div>
            
              <!-- New Password -->
              <div class="form-group" [ngClass]="{ 'text-danger': errorMessagepw }">
                <label for="NewPassword">New Password</label>
                <div class="input-group">
                  <input
                    type="{{ hidePassword2 ? 'password' : 'text' }}"
                    [ngClass]="{ 'text-danger': errorMessagepw }"
                    autocomplete="off"
                    class="form-control"
                    name="NewPassword"
                    [(ngModel)]="NewPassword"
                    required
                  />
                  <div class="input-group-append">
                    <span class="input-group-text toggle-password" (click)="togglePassword2()" style="cursor: pointer">
                      <i class="fa" [ngClass]="hidePassword2 ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                  </div>
                </div>
              </div>
            
              <!-- Confirm Password -->
              <div class="form-group" [ngClass]="{ 'text-danger': errorMessagepw }">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-group">
                  <input
                    type="{{ hidePassword3 ? 'password' : 'text' }}"
                    [ngClass]="{ 'text-danger': errorMessagepw }"
                    autocomplete="off"
                    class="form-control"
                    name="confirmPassword"
                    [(ngModel)]="confirmPassword"
                    required
                  />
                  <div class="input-group-append">
                    <span class="input-group-text toggle-password" (click)="togglePassword3()" style="cursor: pointer">
                      <i class="fa" [ngClass]="hidePassword3 ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                  </div>
                </div>
              </div>
            
              <!-- Save Button -->
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="!PasswordActuelle || NewPassword !== confirmPassword || !NewPassword || !confirmPassword"
              >
                Save changes
              </button>
            </form>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
