<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
                Forgot your <br />
              <span class="text-dark" > password?</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
                S'il vous plaît, veuillez entrer l'adresse e-mail
                associée à votre compte. Un nouveau mot de passe 
                sera envoyé à cette adresse. 
                Une fois que vous aurez reçu le code, vous pourrez choisir un nouveau mot de passe pour votre compte.
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
              
                 
                  <form class="login-form">
                    <!-- Email input -->
    
                    <div class="form-outline mb-4">
                      <input type="email" id="form1Example13" class="form-control form-control-lg" />
                      <label class="form-label" for="form1Example13">Email address</label>
                    </div>
               
  
                
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-dark btn-block mb-4">
                    Reset password
                  </button>
  
                
                </form>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->