<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
                Forgot your <br />
              <span class="text-dark" > password?</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
                S'il vous plaît, veuillez entrer l'adresse e-mail
                associée à votre compte. Un nouveau mot de passe 
                sera envoyé à cette adresse. 
                Une fois que vous aurez reçu le code, vous pourrez choisir un nouveau mot de passe pour votre compte.
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
              
                <div class="alert alert-success alert-dismissible fade show" *ngIf="resetSuccessful">
                  <span class="fas fa-check-circle icon"></span>
      
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ successMessage }}
                </div>
      
      
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="vide">
                  <i class="fas fa-exclamation-triangle icon"></i> <!-- Icon -->
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  Please enter your e-mail address </div>
      
      
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="notSuccessful">
                  <i class="fas fa-exclamation-triangle icon"></i> <!-- Icon -->
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ errorMessage }}
                </div>
                  <form class="login-form">
                    <!-- Email input -->
    
                    <div class="form-outline mb-4">
                      <input type="email" id="form1Example13" class="form-control form-control-lg" name="email"   [(ngModel)]="email" />
                      <label class="form-label" for="form1Example13" >Email address</label>
                    </div>
               
  
                
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-dark btn-block mb-4" (click)="onSubmit()">
                    Reset password
                  </button>
  
                
                </form>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->