
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://static.vecteezy.com/system/resources/previews/019/489/387/non_2x/3d-blue-geometric-abstract-background-overlap-layer-on-dark-space-with-diagonal-lines-decoration-modern-graphic-design-element-striped-style-for-banner-flyer-card-brochure-cover-or-landing-page-vector.jpg');
          height: 150px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-11">
            <h2 class="fw-bold mb-5">Product liste</h2>
            
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Product Name</th>
                    <th>Product Prix</th>
                    <th>Description</th>
                    <th>Categorie</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let product of allproducts">
                  <tr>
                    <td>
                      <div class="d-flex align-items-center" >
                       
                        <img [src]="getProductImageUrl(product.image)" class="card-img-top" alt="..."
                            alt=""
                            style="width: 65px; height: 65px; margin-bottom: 1.5px;"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">{{ product.name }}</p>
                        </div>
                      </div>
                      
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{ product.prix }}</p>
                      </td>
                    <td>
                      <p class="fw-normal mb-1">{{ product.description }}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{ product.categorie }}</p>
                      </td>
                    <td>
                      <span class="badge badge-success rounded-pill d-inline">Dispo</span><br>
                    </td>
                    <td>
                      <button (click)="openEditDialog(product)" type="button" class="btn btn-success btn-sm btn-rounded"
                      style="width: 70px; height: 30px">Edit</button>

                      <button type="button" class="btn btn-danger btn-sm btn-rounded"
                      style="width: 70px; height: 30px"
                      (click)="onDeletee(product)">Delete</button>
              
                    </td>
                  </tr>
                  
                </tbody>
                
              </table> 

              <button routerLink="/addproduct" class="btn btn-dark" style="margin-top:20px;">
                Add product </button>
           
          </div>
          
        </div>
      </div>
     
    </div>
  </section>


  <!-- Section: Design Block -->