<div class="cart-container">
    <h2>Your Shopping Cart</h2>
  
    <!-- <h4>You need to spend 100.000 DT more to get your FREE STANDARD DELIVERY</h4> -->
  
    <div *ngIf="cartItems.length === 0" class="empty-cart-message">
      Your cart is empty.
    </div>
  
    <div *ngFor="let item of cartItems" class="cart-item">
      <div class="item">
        <div class="item-image">
          <img [src]="getProductImageUrl(item.image)" alt="{{ item.name }}" />
        </div>
        <div class="item-details">
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
          
          <h3
            class="item-price"
            *ngIf="item.promotion == false"
          >
            {{ item.prix }} 
          </h3>
  
          <h3
            class="item-price promotion"
            *ngIf="item.promotion == true"
          >
            {{ item.promoprix }} 
          </h3>
        </div>
  
        <div class="remove-button">
          <button (click)="removeItemFromCart(item)">
            <i class="fas fa-trash"></i> 
          </button>
        </div>

        
      </div>
      
    </div>
    
      <!-- Total Amount -->
      <div class="total-amount" *ngIf="cartItems.length > 0">
        <div class="total-price">
          <h3>Total Amount:</h3>
          <span>{{ totalAmount }} DT</span>
        </div>
        <div class="delivery-cost">
          <h3>Delivery costs</h3>
          <span style="color: green;">FREE</span>
        </div>
        <div class="total-price-with-delivery">
          <h3>Total:</h3>
          <span>{{ totalAmount }} DT</span>
        </div>
      </div>
    
  </div>
  
  