<div class="modal-body">
  <input type="text" [(ngModel)]="productData.name" class="form-control" placeholder="Product Name">
  <input type="text" [(ngModel)]="productData.prix" class="form-control" placeholder="Price">
  <textarea [(ngModel)]="productData.description" class="form-control" placeholder="Description"></textarea>
  <select [(ngModel)]="productData.categorie" class="form-control" placeholder="Select Category">
    <option value="tshirt">T-Shirt</option>
    <option value="jeans">Jeans</option>
    <option value="chemise">Chemise</option>
    <option value="shoes">Shoes</option>
    <option value="polo">POLO</option>
  </select>

  <!-- Promotion Select -->
  <select [(ngModel)]="productData.promotion" class="form-control" placeholder="Select promotion">
    <option value="true">PROMOTION</option>
    <option value="false">NO PROMOTION</option>
  </select>
  
  <!-- Conditional Display of Promo Price -->
  <div *ngIf="productData.promotion === 'true'">
    <input type="text" [(ngModel)]="productData.promoprix" class="form-control" placeholder="Promo Price">
  </div>

  <!-- Available (disponible) -->
  <div class="form-check">
    <input type="checkbox" [(ngModel)]="productData.disponible" class="form-check-input" id="disponibleCheck">
    <label class="form-check-label" for="disponibleCheck">Available</label>
  </div>

  <div class="modal-body">
    <img [src]="getProductImageUrl(productData.image)" alt="Product Image" class="current-image" style="max-width: 38%; height: auto;">
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-dark" (click)="saveChanges()">Save Changes</button>
</div>
