    .custom-card {
        border-radius: 0;
        border-color: white; 
        transition: all 0.3s ease; 
    }
    .product-image {
        height: 70%; 
        object-fit: cover; 
    }
    

    .product-price {
        text-decoration: line-through;
        text-decoration-style: dashed;
    }

 
.pointer-none {
    pointer-events: none; /* Prevent click events */
    opacity: 0.5; /* Optional: Reduce opacity to visually indicate it's unavailable */
}
