    .custom-card {
        border-radius: 0;
        border-color: white; 
        transition: all 0.3s ease; 
    }
    .product-image {
        height: 70%; 
        object-fit: cover; 
    }
    

    .product-price {
        text-decoration: line-through;
        text-decoration-style: dashed;
    }

 