<section >
   
    <div class="row">
        <div class="col-lg-6" style="margin-left: 1cm; margin-top: 0.9cm;
            font-weight: bold;
            font-family: 'Segoe UI', Roboto, Arial, sans-serif;
            padding: 0 32px;
            font-size: 1.1rem;
            border-left: 2px solid #000000;
            display: flex;
            align-items: center;">
            <p style="margin: 0;">Get the look</p>
        </div>
    </div>
    <div class="row">
        <div style="margin-left: 1cm; margin-top: 0.2cm;
            font-family: 'Segoe UI', Roboto, Arial, sans-serif;
            padding: 0 32px;
            font-size: 0.9rem;
            font-weight: bold;
            color: #777;">
            <p>Inspire-toi de notre galerie et partage tes looks sur les réseaux sociaux avec #Lorenzostyle et @lorenzo.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" style="margin-left: 1cm; margin-top: 0.2cm;
            font-family: 'Segoe UI', Roboto, Arial, sans-serif;
            padding: 0 32px;
            font-size: 0.9rem;
            color: #000;">
                       <button style="border: 0.7px solid #e2dddd; background: none; padding: 5px 10px; font: inherit; cursor: pointer; color: #000; margin-right: 5px;border-radius: 5px;" routerLink="/shop">all</button>
                       <button style="border: 0.7px solid #e2dddd; background: none; padding: 5px 10px; font: inherit; cursor: pointer; color: #000; margin-right: 5px;border-radius: 5px; background-color: #000000; color: #fff; font-weight: bold;">T-shirt</button>
                       <button style="border: 0.7px solid #e2dddd; background: none; padding: 5px 10px; font: inherit; cursor: pointer; color: #000; margin-right: 5px;border-radius: 5px;" routerLink="/pololiste">Polo</button>
                       <button style="border: 0.7px solid #e2dddd; background: none; padding: 5px 10px; font: inherit; cursor: pointer; color: #000; margin-right: 5px;border-radius: 5px; "  routerLink="/chemiselist" >Shirt</button>
                       <button style="border: 0.7px solid #e2dddd; background: none; padding: 5px 10px; font: inherit; cursor: pointer; color: #000; margin-right: 5px;border-radius: 5px;">Jeans</button>
                       <button style="border: 0.7px solid #e2dddd; background: none; padding: 5px 10px; font: inherit; cursor: pointer; color: #000; margin-right: 5px;border-radius: 5px;">Outwear</button>
                       <button style="border: 0.7px solid #e2dddd; background: none; padding: 5px 10px; font: inherit; cursor: pointer; color: #000; margin-right: 5px; border-radius: 5px;" >Swinwear</button>

        </div>
    </div>
    
    
    
    <div class="container-fluid pt-5">
        <div class="row mx-10 no-gutters"> 
            <div class="col-12 col-md-3 mb-4 "  *ngFor="let product of allproducts">
                <div class="card h-100 product-card custom-card">
                    <img [src]="getProductImageUrl(product.image)" alt="Product Image" class="product-image">
                    <div class="card-body">
                        <h4 class="h6 mb-2 text-dark product-name">{{ product.name }}</h4>
                        <div class="description-hover">
                            <p class="mb-3 text-muted">{{ product.description }}</p>
                            <h5 class="h5 mb-0 text-dark product-price font-weight-bold">{{ product.prix }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</section>
