    /* Custom card class with no border-radius */
.custom-card {
    border-radius: 0;
    border-color: white; /* Set border-radius to 0 to remove rounded corners */
    transition: all 0.3s ease; /* Add a transition for a smoother effect */
}
.product-image {
    height: 70%; /* Ensure the image takes up the full width of the container */
    object-fit: cover; /* Ensure the image covers the entire container */
}


/* Disable pointer events for products that are reserved (disponible: false) */
.pointer-none {
    pointer-events: none; /* Prevent click events */
    opacity: 0.6; /* Optional: Reduce opacity to visually indicate it's unavailable */
}

/* Optional: Style for 'Reserved' label */
.product-price-promo[style*="color: #ec5541;"] {
    font-size: 1.2rem;
    font-weight: bold;
}
