<!-- Start Banner Hero -->
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
   
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="                    https://i.pinimg.com/564x/4b/cd/ab/4bcdab6d4c49443e5a96146df359d5ac.jpg
                        " alt="">
                    </div>

                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 " id="Lorenzo"><b>Lorenzo</b> </h1>
                            <h3 class="h2" id="Lorenzo">Your Ultimate Shopping Destination!</h3>
                            <p  style="color:#494949" id="paragphamehome">
                                At Lorenzo , we redefine your online shopping experience, combining innovation, convenience, and style all in one place. As you step into our virtual storefront, you'll discover a world of endless possibilities, carefully curated to cater to your every need and desire.
                            </p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://i.pinimg.com/564x/55/4f/56/554f56259e1650fa00bb33d38680ccb9.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 " id="Lorenzo"><b>Lorenzo</b> </h1>
                            <h3 class="h2" id="Lorenzo">Your Ultimate Shopping Destination!</h3>
                            <p  style="color:#494949" id="paragphamehome">
                                At Lorenzo , we redefine your online shopping experience, combining innovation, convenience, and style all in one place. As you step into our virtual storefront, you'll discover a world of endless possibilities, carefully curated to cater to your every need and desire.
                            </p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://i.pinimg.com/564x/54/10/85/5410858416ea4ace891c17e1e0c52a8c.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 " id="Lorenzo"><b>Lorenzo</b> </h1>
                            <h3 class="h2" id="Lorenzo">Your Ultimate Shopping Destination!</h3>
                            <p  style="color:#494949" id="paragphamehome">
                                At Lorenzo , we redefine your online shopping experience, combining innovation, convenience, and style all in one place. As you step into our virtual storefront, you'll discover a world of endless possibilities, carefully curated to cater to your every need and desire.
                            </p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
  </div>
  <!-- End Banner Hero -->
  
  
  <!-- Start Categories of The Month -->
  <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 id="Bestchoice">Discover Our Collection:
            </h1>
           
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-2 mt-3">
            <img src="../../../assets/images/ea7.jpg" class="rounded-circle img-fluid border">
            <h5 class="text-center mt-3 mb-3">Giorgio Armani</h5>
        </div>
        <div class="col-12 col-md-4 p-2 mt-3">
            <img src="../../../assets/images/polo.jpg" class="rounded-circle img-fluid border">
            <h5 class="text-center mt-3 mb-3">Ralph Lauren</h5>
        </div>
        <div class="col-12 col-md-4 p-2 mt-3">
            <img src="../../../assets/images/adidas.jpg" class="rounded-circle img-fluid border">
            <h5 class="text-center mt-3 mb-3">Adidas</h5>
        </div>
    </div>
  </section>
  <!-- End Categories of The Month -->


 

  <section >
    <div class="container-fluid pt-2">
        <h2  id="Bestchoice">Best Choice for You</h2> <!-- Add the title -->
       
    </div>
</section>



        <div class="container-fluid pt-12">
            <div class="row mx-10 no-gutters"> 
                <div class="col-12 col-md-3 mb-4 " *ngFor="let product of allproducts.slice(0, 4)">
                    <div class="style h-100 style-card">
                        <img [src]="getProductImageUrl(product.image)" alt="Product Image" class="card-img-top product-image">
                        <div class="card-body">
                            <h4 class="h6 mb-2 text-dark product-name" id="Lorenzo2" >{{ product.name }}</h4>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

   
        <section >
            <div class="container-fluid pt-5">
                <div class="row mx-10 no-gutters">
                    <div class="banner" style="background-image: url('../../../assets/images/covercapture.jpg');"></div>
            </div>
        </div>
        </section>
        

  <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <p  style="margin-bottom: -25px; padding: 0; color:#797979">#LORENZOSTYLE</p><br>
            <h1 class="h1" style="margin-bottom: 10px; padding: 0;">Get the look:</h1>
        </div>
    </div>

    <div class="row mx-10 no-gutters">
        <div class="col mb-4">
            <div class="style h-100 style-card">
                    <img           src="../../../assets/images/987bbb19fc1875af40c8.webp"
                    class="card-img-top image-fit" alt="...">
                <div class="style-body">
                    <div class="style-name">
                        <p class="style-text">Casual</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repeat the same structure for the other three columns -->

        <div class="col mb-4">
            <div class="style h-100 style-card">
                    <img           src="../../../assets/images/style_chico_festival.jpg"
                    class="card-img-top image-fit" alt="...">
                <div class="style-body">
                    <div class="style-name">
                        <p class="style-text">Festival</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="style h-100 style-card">
                    <img           src="../../../assets/images/style_chico_formal.jpg"
                    class="card-img-top image-fit" alt="...">
                <div class="style-body">
                    <div class="style-name">
                        <p class="style-text">Formal</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="style h-100 style-card">
            
                    <img src="../../../assets/images/style_chico_trendy.jpg"
                    class="card-img-top image-fit" alt="...">
                <div class="style-body">
                    <div class="style-name">
                        <p class="style-text">Trendy</p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</section>

  <!-- End Featured Product -->