<!-- Start Banner Hero -->
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
   
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://i.pinimg.com/564x/54/10/85/5410858416ea4ace891c17e1e0c52a8c.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 "><b>Lorenzo</b> </h1>
                            <h3 class="h2" style="color:#494949">Your Ultimate Shopping Destination!</h3>
                            <p  style="color:#494949">
                                At Lorenzo , we redefine your online shopping experience, combining innovation, convenience, and style all in one place. As you step into our virtual storefront, you'll discover a world of endless possibilities, carefully curated to cater to your every need and desire.
                            </p>
                            <a class="btn btn-dark mt-3" routerLink="/shop">
                                <i class="fas fa-shopping-cart mr-2"></i> Shop Now
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://i.pinimg.com/564x/6d/ba/b3/6dbab3e5dc1335e557faf5bcc3299684.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 "><b>Lorenzo</b> </h1>
                            <h3 class="h2" style="color:#494949">Lorem Ipsum Lorem Ipsum</h3>
                            <p style="color:#494949">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <a class="btn btn-dark mt-3" routerLink="/shop">
                                <i class="fas fa-shopping-cart mr-2"></i> Shop Now
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://i.pinimg.com/564x/4b/cd/ab/4bcdab6d4c49443e5a96146df359d5ac.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 "><b>Lorenzo</b> </h1>
                            <h3 class="h2" style="color:#494949">Lorem Ipsum Lorem Ipsum </h3>
                            <p style="color:#494949">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <a class="btn btn-dark mt-3" routerLink="/shop">
                                <i class="fas fa-shopping-cart mr-2"></i> Shop Now
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
  </div>
  <!-- End Banner Hero -->
  
  
  <!-- Start Categories of The Month -->
  <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Discover Our Collection:
            </h1>
            <p>
                Indulge in a vast and diverse collection of products that span across various categories, ensuring there's something for everyone. From fashion-forward clothing that keeps you ahead of the trends to cutting-edge electronics that enhance your daily life, we've handpicked each item to guarantee quality, authenticity, and value.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <img src="../../../assets/images/ea7.jpg" class="rounded-circle img-fluid border">
            <h5 class="text-center mt-3 mb-3">Giorgio Armani</h5>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <img src="../../../assets/images/polo.jpg" class="rounded-circle img-fluid border">
            <h5 class="text-center mt-3 mb-3">Ralph Lauren</h5>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <img src="../../../assets/images/adidas.jpg" class="rounded-circle img-fluid border">
            <h5 class="text-center mt-3 mb-3">Adidas</h5>
        </div>
    </div>
  </section>
  <!-- End Categories of The Month -->
  
  
  <!-- Start Featured Product -->
  <section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product:</h1>
                <p>
                    Welcome to our curated selection of exceptional products that stand as the pinnacle of innovation, style, and functionality – the Featured Product collection. This handpicked assortment represents the very best our brand has to offer, embodying the essence of luxury and performance.
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-3 mb-4" *ngFor="let product of allproducts.slice(0, 4)">
                <div class="card h-100 product-card">
                        <img [src]="getProductImageUrl(product.image)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="text-muted text-right">{{ product.prix }}</li>
                        </ul>
                        <h4 class="text-decoration-none text-dark product-name">{{ product.name }}</h4>
                        <div class="description-hover">
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            

           
                
            
        </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <p class="h6" style="margin-bottom: -30px; padding: 0;">#LORENZOSTYLE</p><br>
            <h1 class="h1" style="margin-bottom: 10px; padding: 0;">Get the look:</h1>
        </div>
        

     

    </div>
    <div class="row row-cols-1 row-cols-md-4 g-0">
        <div class="col mb-4">
            <div class="style h-100 style-card">
                    <img           src="../../../assets/images/style_chico_casual.jpg"
                    class="card-img-top image-fit" alt="...">
                <div class="style-body">
                    <div class="style-name">
                        <p class="style-text">Casual</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repeat the same structure for the other three columns -->

        <div class="col mb-4">
            <div class="style h-100 style-card">
                    <img           src="../../../assets/images/style_chico_festival.jpg"
                    class="card-img-top image-fit" alt="...">
                <div class="style-body">
                    <div class="style-name">
                        <p class="style-text">Festival</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="style h-100 style-card">
                    <img           src="../../../assets/images/style_chico_streetwear.jpg"
                    class="card-img-top image-fit" alt="...">
                <div class="style-body">
                    <div class="style-name">
                        <p class="style-text">streetwear</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="style h-100 style-card">
            
                    <img           src="../../../assets/images/style_chico_trendy.jpg"
                    class="card-img-top image-fit" alt="...">
                <div class="style-body">
                    <div class="style-name">
                        <p class="style-text">Trendy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- End Featured Product -->