
.section-header {
    margin-bottom: 3rem;
}

.style-card {
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    border: 0.5px solid transparent; /* Add a border for spacing */
    height: 100%; /* Set a fixed height for the card */
    position: relative; /* Set the position to enable text overlay */
}

.image-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border: 0.5px solid transparent; /* Add a border for spacing */
}

.style-name {
    position: absolute; /* Position the text absolutely over the image */
    bottom: 0; /* Position the text at the bottom */
    left: 33%; /* Move the text to the horizontal center */
    transform: translateX(-50%); /* Center the text horizontally */
    font-size: 2.3rem;
    color: white; /* Set text color to white */
}

.style-text {
    margin: 2;
}

@media (max-width: 768px) {
    .style-card {
        margin-bottom: 1rem;
    }

    .style-name {
        font-size: 3rem;
    }
}







#Bestchoice{
    font-family: 'orpheuspro', serif;
    font-size: calc(16px + 1.65vw);
    font-weight: 500;
    text-align: center;
    margin-bottom: 54px;
}



#Lorenzo{
    font-family: 'orpheuspro', serif;
    font-size: calc(16px + 1.65vw);
    font-weight: 500;
    text-align: center;
    margin-bottom: 54px;
}

#Lorenzo2{
    font-family: 'orpheuspro', serif;
    font-size: calc(12px + 1.05vw);
    font-weight: 100;
    text-align: center;
    margin-bottom: 54px;
}

#paragphamehome{
    font-family: 'orpheuspro', serif;
    font-size: 15x;
    font-weight: 500;
    text-align: center;
    margin-bottom: 54px;
}


.product-image {
    height: 100%; /* Ensure the image takes up the full width of the container */
    object-fit: cover; /* Ensure the image covers the entire container */
}



.banner {
    height: 380px; /* Adjust the height as needed */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--image-url); /* Apply gradient overlay and background image */
    background-position: left; /* Image will appear from left to right */
    background-size:  100%; /* Display the image's original width and extend to the full height */
    background-repeat: no-repeat; /* Prevent repeating the background image */
}


